<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  
  <packageSources>
  <add key="BlazoriseMyGet" value="https://www.myget.org/F/blazorise/api/v3/index.json" />
  <!--   <add key="BlazoriseMyGet" value="https://www.myget.org/F/acme/api/v3/index.json" /> -->
  </packageSources>
</configuration>