@page "/other"

<div class="container">
    <div class="post-wrap">
        <h2 class="post-title">-&nbsp;Others&nbsp;-</h2>
        <ul>
            <li>
                <a target="_blank" href="https://support.qq.com/product/316016"><h3>吐槽/留言</h3></a>
            </li>
            <li>
                <NavLink href="/friendlink"><h3>友情链接</h3></NavLink>
            </li>
        </ul>
    </div>
</div>
